[Unit]
Description=Pinger Service to check status of Moinak Internet
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/pinger.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target